@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Readex Pro;
}

:root {
  --text-light: #747474;
  --text-black: #1D1D1D;
  --heading-btn: #FFCB45;
  --heading-btn2: #FFAC4B;
  --bg: #FFF9EA;
  --bg2: #F1F1F1;
}

body {
  background-color: #ffffff;
  color: var(--text-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-black);
  font-weight: 700;
}

.text-brand {
  color: var(--heading-btn);
}

a {
  text-decoration: none;
  color: var(--text-light);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--heading-btn);
}
/* testing */
.custom-link {
  font-weight: 700;
  position: relative;
}

.custom-link::after {
  content: "";
  width: 0%;
  height: 4px;
  background-color: var(--heading-btn);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.custom-link:hover::after {
  width: 100%;
}
/* testing */
img{
  width: 100%;
}
.bg-base{
  background-color: var(--bg2);
}
.btn{
  background: var(--heading-btn);
  border-radius: 25px;
  color: var(--text-black);
  padding: 6px 5px;
  font-weight: 700;
}
.btn-brand{
  background: var(--heading-btn);
  width: 150px;
}
.btn:hover{
  background: var(--heading-btn2);
  color: var(--text-black);
}
/* custom card */
.card-custom .card-custom-image {
  overflow: hidden;
}
.card-custom-content{
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
/* full height for all page */
.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #FFF9EA;
}

/* navbar section start */
.active{
  color: #FFCB45!important;
}
.navbar{
  background-color: var(--bg);
}
.navbar-nav .nav-link {
  font-weight: 700;
  display: inline-block;
}
.nav-item{
  padding: 10px 18px;
}
.nav-icons i{
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  .navbar-collapse {
    background: var(--bg);
  }
}
/* home section */
#home{
  background-color: var(--bg);
  background-image: url(../img/hero_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.about-img img{
  filter: drop-shadow(0 0 0.75rem #FFCB45);
}
/* CONTACT */
#contact .form-control {
  background-color: var(--bg);
  border-color: var(--heading-btn);
  color: var(--text-black);
}

#contact .form-control:focus {
  border-color: var(--text-black);
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: var(--text-light);
}

#contact input.form-control {
  height: 50px;
}
#footer_section{
  background-color: var(--bg);
}
.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
  border-radius: 100px;
  font-size: 24px;
}
.review{
  height: 300px;
}
.mobile_top_img{
  animation: mobile_top_img 6s linear 0s infinite alternate;
}
@keyframes mobile_top_img {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}